<p id="notice"><%= notice%></p>

<p>
  <strong>Title:</strong>
  <%= @kiwi.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @kiwi.body%>
</p>

<%= link_to 'Edit', edit_kiwi_path(@kiwi) %>
<%= link_to 'Back', kiwis_path %>