<p id="notice"><%= notice %></p>

<h1>Woods</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @woods.each do |wood| %>
      <tr>
        <td><%= wood.title %></td>
        <td><%= wood.body %></td>
        <td><%= link_to 'Show', wood %></td>
        <td><%= link_to 'Edit', edit_wood_path(wood) %></td>
        <td><%= link_to 'Destroy', wood, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <%= link_to 'New Wood', new_wood_path %>